@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#8080ff ;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
    margin-top: 50px;
}

.wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: white;
}

.team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}

.team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #5a5a5a;

    position: relative;
}

.team .team_member h3{
    color: #8080ff;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p.role{
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
}

.team .team_member .team_img{
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 130px;
    border-radius: 69%;
    background: #fff;
}

.team .team_member .team_img img{
    width:150px;
    height: 130px;
    padding: 5px;
}
